@import "jquery-ui.min.css";

body{
  font-family : 'Montserrat', sans-serif;
  font-size : 2vh;
  overflow-x: hidden;
}

.axisY path{
    fill:none;
}
.axisY line {
    fill: none;
    stroke: black;
    opacity: 0.03;
    shape-rendering: crispEdges;
}
.axisY text {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}
.axisX path{
    fill:none;
}
.axisX line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
.axisX text {
    font-family: sans-serif;
    font-size: 11px;
    fill: black;
}
text{
    font-family: sans-serif;
    font-size: 11px;
    pointer-events:none
}
.tooltip{
    box-shadow: 2px 2px 5px black;
    position: fixed;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2%;
    margin: auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

#legend text{
    font-family: sans-serif;
    font-size: 14px;
    pointer-events:none
}

.chartHorizontal{
  position: relative;
  width: 99%;
}

.legendHorizontal{
  position: relative;
  width: 100%;
}

svg {
    shape-rendering: geometricPrecision;
}

svg text {
    font-size: 2vw;
    pointer-events:none
}

#legend rect{
    cursor: pointer; 
    shape-rendering: crispEdges;
}

#element{
    opacity: 0.7;
}

#element:hover{
    opacity: 1;
}

.plot{
    opacity: 0.7;
}

.plot{
    opacity: 1;
}

.ui-slider .ui-slider-handle {
    cursor:grab;
    height: 2vh;
    width: 2vh;
    z-index: 2;
    border-radius: 0px;
}

.ui-slider-handle :hover {
background-color: "#DD00AA";
}

.ui-slider-horizontal {
    cursor: default;
    height: 1vh;
    z-index: 2;
    border-radius: 0px;
}

.ui-slider{
  pointer-events :all;
  margin: 1vh;
  background : rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0.8);
}

.ui-corner-all{
    border-style: solid;
    border-width: 1px;
    border-color: gainsboro; 
}

select {
    font-family : 'Montserrat', sans-serif;
    font-size : 2vh;
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

